<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intelligent Essay Grader</title>

    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>


</head>
<body style="background-color:powderblue;">
<div class=page>
<h1> Intelligent Essay Grader</h1>
</div>

<form id='input' method='post' action='/results'>
    <p><font size="4" face="verdana" color="green">Write your essay here: </font></p>
    <p>
         <textarea name="text" rows="14" cols="54" wrap="soft"> </textarea>
    </p>
    <p><font size="4" face="verdana" color="green">Select the Prompt: </font></p>
        <input type="radio" name='check' value="Prompt1"> Prompt #1<br>

    <p><font face="Courier New">More and more people use computers, but not everyone agrees that this benefits society. Those who support advances in technology believe that computers have a positive effect on people. They teach hand-eye coordination, give people the ability to learn about faraway places and people, and even allow people to talk online with other people. Others have different ideas. Some experts are concerned that people are spending too much time on their computers and less time exercising, enjoying nature, and interacting with family and friends. <br/>
    </font></p>
      <p>  <font face="Courier New" >Write a letter to your local newspaper in which you state your opinion on the effects computers have on people. Persuade the readers to agree with you.
      </font></p>
        <input type="radio" name='check' value="Prompt5"> Prompt #2<br>

    <p><font face="Courier New">
        Source Essay: <br/>
Narciso Rodriguez from Home: The Blueprints of Our Lives <br/>
        Describe the mood created by the author in the memoir. Support your answer with relevant and specific information from the memoir.
    </font></p>
    <input type="submit">
</form>

</body>
</html>